@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0 8px; /* Espaço lateral em todas as telas */
}

@media (min-width: 600px) {
  body {
    padding: 0; /* Remove o padding lateral em telas grandes */
  }
}

.lista-compras-item span {
  margin-left: 8px;
}

.lista-compras-lista {
  padding: 0;
  margin: 0;
  list-style: none;
}

.lista-compras-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px; /* Menos espaçamento */
  padding: 0px 0;
  padding-right: 12px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  background: #fff;
  border-radius: 3px;
}

.lista-compras-item:last-child {
  border-bottom: none;
}

.lista-compras-item.checked span {
  text-decoration: line-through;
  color: #888;
}

.lista-compras-item input[type="checkbox"] {
  margin-right: 1px;
}

.lista-compras-item button {
  margin-left: 4px;
  padding: 2px 8px;
  font-size: 14px;
  background: #e3e3e3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s;
}

.botao-adicionar {
  margin-left: 4px;
  padding: 2px 8px;
  font-size: 14px;
  background: #bdc2dd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s;
}

.lista-compras-item button:hover {
  background: #d1d1d1;
}

.input {
  font-size: 14px;
}

.categoria-titulo {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 2px;
  margin-top: 16px;
  color: #222;
}

.botao-editar {
  background: #e6f0ff;
  color: #2563eb;
}
.botao-editar:hover {
  background: #dbeafe;
}

.botao-remover {
  background: #ffe6e6;
  color: #dc2626;
}
.botao-remover:hover {
  background: #fecaca;
}

/* Adicione ao seu globals.css */
.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 0 16px;
  font-family: sans-serif;
}
